# Xcode
build/
DerivedData/
*.xcworkspace

# Swift Package Manager
.swiftpm
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Others
*.DS_Store
*.env
