<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD83dWdJ-yEb4SHWQaHw-krc51Eyrhqezo</string>
	<key>GCM_SENDER_ID</key>
	<string>465876447454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nezgovorov.FinTask</string>
	<key>PROJECT_ID</key>
	<string>fintask-9fe61</string>
	<key>STORAGE_BUCKET</key>
	<string>fintask-9fe61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:465876447454:ios:d325513f6906b7deda124f</string>
</dict>
</plist>
